<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/skin/color-1.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
</head>
<body>
    <div class="main container">
        <div class="aside">
            <div class="logo">
                <a href="#"><span><font color="00D1ED">T</font><font color="FF8800">T</font><font color="2AE300">F</font></span></a>
            </div>
            <div class="nav-toggler">
                <span></span>
            </div>
            <ul class="nav">
                <li><a href="#" class="active"><i class="fa fa-home"></i>Home</a></li>
                <li><a href="#"><i class="fa fa-user"></i>About</a></li>
                <li><a href="#"><i class="fa fa-list"></i>Services</a></li>
                <li><a href="#"><i class="fas fa-poll"></i>Digital</a></li>
                <li><a href="#"><i class="fa fa-comments"></i>Contact</a></li>
            </ul>
        </div>
        <div class="main-content">
            <section class="home section">
                <div class="container">
                    <div class="row">
                        <div class="home-info padd-15">
                            <h3 class="hello">Hi, we are <span class = "name">TTF Agency</span></h3>
                            <h3 class="my-profession">We are here <span class = "typing">for you</span></h3>
                            <!--Buraya Tanıtım Metni Yazılacak-->
                            <p></p>
                            <a href="#contact" class="btn hire-me">Hire Me</a>

                            <!--Tanıtım metni sonu-->
                        </div>
                        <div class="home-img padd-15">
                            <img src="images/ttf.png" alt="">
                        </div>
                    </div>

                </div>
            </section>
        </div>
    
    </div>


</body>
</html>  

 